<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">

 <!--       <f:comment><f:debug title="Debugge: ALL" inline="true">{_all}</f:debug></f:comment>

		<h1>Listing for Blog</h1>

		<f:flashMessages />

		<table  class="tx_simpleblogaleks" >
			<tr>
				<th><f:translate key="tx_simpleblogaleks_domain_model_blog.title" /></th>
				<th><f:translate key="tx_simpleblogaleks_domain_model_blog.description" /></th>
				<th><f:translate key="tx_simpleblogaleks_domain_model_blog.image" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{blogs}" as="blog">
				<tr>
					<td><f:link.action action="show" arguments="{blog : blog}"> {blog.title}</f:link.action></td>
					<td><f:link.action action="show" arguments="{blog : blog}"> {blog.description}</f:link.action></td>
					<td><f:link.action action="show" arguments="{blog : blog}"> {blog.image.originalResource.name}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{blog : blog}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{blog : blog}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Blog</f:link.action>
-->

		<h1>Blog List</h1>
		<ul class="list-group list-group-flush">
		    <f:for each="{blogs}" as="blog">
		        <li class="list-group-item my-list-item-def">{blog.title}
                        <div>
                            <f:link.action action="updateForm" arguments="{blog: blog}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> EDIT</f:link.action>
                            <f:link.action action="show" arguments="{blog: blog}" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i>SHOW</f:link.action>
                            <f:link.action action="deleteForm"  arguments="{blog: blog}" class="btn btn-primary btn-sm"><i class="fas fa-trash"></i> DELETE</f:link.action>
                        </div>
                </li>
            </f:for>
        </ul>

        <f:link.action action="addForm" class="btn btn-primary btn-ext"><i class="fas fa-plus-circle"></i> Add Blog </f:link.action>
	</f:section>
</html>