<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true" lang="en">

<footer class="pagefooter">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <f:cObject typoscriptObjectPath="lib.objektCopyright"></f:cObject>
            </div>
            <div class="col-md-8">
                <f:cObject typoscriptObjectPath="lib.objektMetaNavigation"></f:cObject>
            </div>
        </div>
    </div>
</footer>

</html>